
<div id="task-list">
    
  <ul class="task-list">
    <li *ngFor="let task of tasks | async" class="task-item">
      <button (click)="deleteTask(task)" >Delete</button>
      <div *ngIf="task.done; else notDone" class="task-done">
        <span class="status">✔</span> 
        <span class="task-name">{{ task.taskName }}</span>
        <button class="state-button undo" (click)="changeToUndone(task)">Undo</button>
      </div>
      <ng-template #notDone>
        <div class="task-not-done">
          <span class="status">✖</span>
          <span class="task-name">{{ task.taskName }}</span>
          <button class="state-button done" (click)="changeToDone(task)">Set Done</button>
        </div>
      </ng-template>
    </li>
  
    <li class="no-items" *ngIf="(tasks | async)?.length === 0">
      There are no items.
    </li>
  </ul>
  
  
  
</div>

